*.json
!states.json
!states_target.json
!positions.json
!agents.json
!test_states.json
!test_states_target.json
arrangements_relative/*
mixed_arrangements/*
instruction_generation/*
*sim.py
*simConst.py
*remoteApi.so

__pycache__/
*.py[cod]
*$py.class
